body {
    font-family: "Roboto";
}
.sidenav {
    position: absolute;
    height: 100%;
    width: 2%;
    padding: 2%;
}
.black-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.f-bot {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
}
ul { 
    list-style-type: none;
}

.bg-gradient {
    background: linear-gradient(to right, rgb(0, 0, 70), rgb(26, 145, 179));
}
.bg-sidenav {
    background:rgb(0, 0, 70);
}

.green {
    color: #21e6c1;
}
.green-button {
    border-color:#21e6c1;
}
.green-button:hover {
    border-color:#21e6c1;
    background-color: #21e6c1;
}

.sidenav-button {
    color:#fff;
}

.sidenav-button:hover {
    color:#21e6c1;
}

.brand {
    color:#fff;
}

.brand:hover {
    color:#21e6c1;
}

